html {
    overflow: hidden;
    height: 100%;
}

    body {
        margin: 0;
        height: 100%;
        width:100%;

    }
    .Main_Selector{
      background: linear-gradient(transparent,#BECFDA 25%  ,#9DB4C3 40%,#9DB4C3 50%,#9DB4C3 60%, #BECFDA 75%, transparent);
    }
    .Parent-div{
      position:relative;width:100%;


    }
    .Header-div{
      position:absolute;
      z-index:100;
      left:0px;
      top:0px;
      width:100%;
      height:100;
      background:linear-gradient(#9DB4C3  , transparent);
    }
    .Sub-div{
      left:0px;
      top:100px;
      z-index:80;
      height:100%;
    }
    .Selector{
      height: 100%;
      background: linear-gradient(to right,#9DB4C3,transparent);
      width: 13%;
      text-align: left;
      float:left;
  }
    .Title{
      font-family:verdana;
      font-size:24px;
      text-indent:4px;
      text-align: justify;
    }
    .TitleColumn{
      font-family:verdana;
      font-size:20px;
      text-indent:4px;
      text-align: justify;
    }
    .TitleText{
      font-family:verdana;
      font-size:20px;
      text-indent:40px;
      text-align: justify;
    }
    .SubTitle{
      -webkit-hyphens: auto; /* for Safari */
hyphens: auto;
      font-family:verdana;
      font-size:14px;
      text-indent:4px;
      text-align: justify;
    }
    .SubSubTitle{
      font-family:verdana;
      font-size:12px;
      text-indent:12px;
      text-align: justify;
    }
    .Text{
      overflow-wrap: break-word;

      word-wrap: break-word;

      -ms-word-break: break-all;

      word-break: break-word;

      -ms-hyphens: auto;

      -moz-hyphens: auto;

      -webkit-hyphens: auto;

      hyphens: auto;

      font-family:verdana;
      font-size:16px;
      line-height:150%;
      text-align: justify;
    }
    .Text_small{
      font-family:verdana;
      font-size:12px;
      text-indent:40px;
      text-align: justify;
    }

  .Information{
            margin-left: 2%;
            margin-top:14;
            width: 85%;
            height:100%;
            float:left;
            overflow:auto;

          }
          .row {
            display: flex;
}

.column1 {
  flex: 17%;
  margin-left: 0;
  margin-right: 0;
  text-align:justify;
}
.column2 {
  flex: 58%;
  margin-left: 0;
  margin-right: 0;
  text-align:justify;
}
.column {
  flex: 40%;
  margin-left: 50;
  margin-right: 50;
  text-align:justify;
}
.center {
  display: block;
  margin-left: auto;
  margin-bottom: 50;
  margin-right: auto;

}
a:link {

    color:#000000;

    text-decoration:none;

    }

a:hover {
  background-color: #809AAB;
}
a:visited {

color:#000000;

text-decoration:none;

}
